<nav>
    <ul class="nav">
        <li class="app-name">
            <a asp-controller="Home" asp-action="Index">
                <img class="logo-img" src="./photos/main-navbar-logo.png" alt="logo-img"/>
            </a>
            <a href="">To Do</a>
        </li>

        <li class="auth">
            <a asp-controller="User" asp-action="Login">Login</a>
            <a asp-controller="User" asp-action="Register" class="register-btn">Register</a>
        </li>
    </ul>
</nav>
